<div class="searchBar">
    <div class="container">
        <form action="/search" class="search__form" role="search" method="POST">
            <input 
            type="search"
            name="searchTerm"
            id="searchInput"
            aria-Label="Search"
            placeholder="Search for a Post"/>
        </form>
        <div id="searchClose">Close</div>
    </div>
</div>